<div class="container">
  <div class="row">
    <div class="col-md-12 big-info text-white">
      <h1>{{title}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white">
          Personal Details
        </div>
        <div class="card-body">
          <app-personal-details></app-personal-details>
        </div>
      </div>
      <div class="card">
        <div class="card-header bg-warning text-white">
            Contact Details
        </div>
        <div class="card-body">
            <app-contact-details></app-contact-details>
        </div>
      </div>
      <div class="card">
          <div class="card-header bg-dark text-white">
              Skill Details
          </div>
          <div class="card-body">
              <app-skill-list></app-skill-list>
          </div>
        </div>
    </div>
    <div class="col-md-6">
      <label>Marks</label><input type="text" name=studentMark #studentMarks/><label>Out of</label><input type="text" name="outof" #outof/>
      <button class="btn btn-info" (click)="CalculateGrade(studentMarks.value,outof.value)">Click Me</button>
      <!-- <button class="btn btn-info" [disabled]="flag" (click)="sayHello(age.value)">Click Me</button> -->
    </div>
  </div> 
</div>
