<div class="container">
  <div class="row">
    <div class="col">
      <h1>{{title}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <input type="text" class="form-control" name="frndName" #friendName (change) ="txtChange(friendName.value)" /> 
    </div>
    <div class="col-md-6">
      <button (click)="addFriend(friendName.value)" class="btn btn-success">Add New Friend</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul *ngFor="let name of friendsList;let i=index">
        <li>{{name}}:{{i}} <button class="btn btn-danger" (click)="delete(i)">Delete</button></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <select name="city123" class="form-control" #city (change)="SetSelectedCity(city.value)">
          <option value="-1">-:Select City:-</option>
          <option *ngFor="let city of cityList">{{city}}</option>
      </select>
    </div>
    <div class="col-md-6">Bind by City List, Hence Selected City Code is : {{selectedCity}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <select name="cityobj123" class="form-control" #cityobj (change)="SetSelectedCity(cityobj.value)">
        <option value="-1">-:Select City:-</option>
        <option *ngFor="let city of cityObjList" [value]="city.code">{{city.desc}}</option>
      </select>
    </div>
    <div class="col-md-6">
      Bind by City Object List, Hence Selected City Code is : {{selectedCity}}
    </div>
  </div>
  <div class="row">
    <div class="col"><app-student-list></app-student-list></div>
  </div>
</div>

